chess-ai/lichess_elite_2019-10.pgn
chess-ai/lichess_elite_2019-11.pgn
chess-ai/lichess_elite_2019-12.pgn
chess-ai/lichess_elite_2020-01.pgn
chess-ai/lichess_elite_2020-02.pgn
chess-ai/lichess_elite_2020-03.pgn
chess-ai/lichess_elite_2020-04.pgn
chess-ai/lichess_elite_2020-05.pgn
